@import "@fontsource/lato";
@import "@fontsource/poppins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #212121;
    --white: #ffffff;
    --orange: #ff9933;
    --gray: #ddd;
  }

  body {
    @apply text-base font-poppins text-black bg-white;
  }

  aside {
    @apply w-1/5 h-custom bg-black p-4 text-white fixed left-0 overflow-auto transition-all duration-300;
    opacity: 1;
    transform: translateX(0);
  }

  aside.active {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
  }

  #main-content {
    @apply w-4/5 h-custom ml-[20%] flex flex-col justify-between transition-all duration-300 ease-in-out;
  }

  #main-content.active {
    @apply w-full ml-0;
  }

  .active-tab {
    @apply text-orange border-b-2 border-orange;
  }
  
}
